* {
    border: 0;
    margin: 0;
    padding: 0;
}

button {
    padding: 20px;
}

code {
    background-color: rgb(58, 57, 57);
    border: 1px solid black;
    color: rgb(252, 195, 10);
    padding: 15px;
}

footer {
    background-color: black;
    color: white;
    padding: 25px;
}

header {
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
    font-weight: 400;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

main {
    display: flex;
    min-height: 100vh;
}

nav {
    background-color: bisque;
    display: none;
    float: none;
    min-width: 300px;
    max-height: 100%;
    position: sticky;
    top: 0;
}

p {
    font-size: 16px
}

section {
    width: 100%;
    padding-bottom: 25px;
}

/*----------------- classes*/
.articleHeading, .sectionHeading {
    align-content: center;
    background-color: blue;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}

.lessonBox {
    background-color: red;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    min-height: 250px;
    max-width: 350px;
    min-width: 350px;
    padding-bottom: 10px;
}

.lessonBox a {
    align-self: center;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.lessonBoxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
}

.lessonBoxLink {
    border-bottom: 2px solid black;
    padding: 10px;
}

.lessonContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.sectionHeading {
    background-color: green;
}

.textBoxHomepage {
    background-color: aqua;
    display: flex;
    justify-content: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*----------------------- Media queries*/

@media only screen and (min-width: 768px) {
    nav {
        display: block;
    }
}