* {
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    background-color: #EBEBEB;
}

a {
    font-size: 18px;
}

button {
    padding: 20px;
}

/*
code {
    background-color: #504C49;
    border: 1px solid #00274D;
    display: flex;
    justify-content: space-between;
}
*/

footer {
    background-color: #00274D;
    color: white;
    padding: 25px;
}

header {
    position: sticky;
    top: 0;
    background-color: #00274D;
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px;
    gap: 5px;
    z-index: 2;
}

header h1:hover {
    background-color: #004E98;
}

header h1 {
    width: 100%;
    height: 100%;
    flex-grow: 2;
    padding: 10px;
    text-align: center;
    transition: 150ms;
}

header h1:hover {
    cursor: pointer;
}

h1 {
    color: white;
    font-size: 24px;
}

h2 {
    font-size: 22px;
    font-weight: 400;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

main {
    display: flex;
    position: relative;
    min-height: 100vh;
}

nav {
    background-color: #C0C0C0;
    display: none;
    flex-direction: column;
    float: none;
    min-width: 300px;
    position: fixed;
    justify-content: space-between;
    gap: 10px;
}

p {
    font-size: 16px
}

section {
    width: 100%;
    padding-bottom: 25px;
}

/*----------------- classes*/
.articleHeading,
.sectionHeading {
    background-color: #00274D;
    color: white;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 14px;
    text-align: center;
    width: 100%;
}


.codeContainer {
    background-color: rgb(98, 98, 98);
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;    
    height: 100%;

}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 45px;
    height: 45px;
    justify-content: center;
    padding-left: 5px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger span {
    border-top: 4px solid #ffffff;
    margin: 4px;
}

.lessonBox {
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    min-height: 250px;
    max-width: 350px;
    min-width: 350px;
    padding-bottom: 10px;
    transition: transform .4s;
}

.lessonBox:hover {
    transform: scale(1.05);
}

.lessonBox a {
    align-self: center;
    background-color: #00274D;
    color: white;
    font-size: 20px;
    margin-top: auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 50%;
    transition: 150ms;
    
}

.lessonBox a:hover {
    background-color: #FF6700;
}

.lessonContainer {
    display: flex;
    flex-direction: column;
    animation-name: pageLoad;
    animation-duration: 1s;
    position: relative;
}

.liveCode {
    color: rgb(252, 195, 10);
    padding: 15px;
    width: 50%;
    display: block;
}

.liveCodeOutput {
    background-color: white;
    border-left: 1px solid #00274D;
    padding: 15px;
    width: 50%;
}

.pageLinksContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
}

.lessonContainer code {
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 300px;
}

.lessonBoxLink {
    border-bottom: 2px solid #00274D;
    padding: 10px;
}

.lessonContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 300px;
    background-color: #C0C0C0;
}

.lessonContent p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.navlinkGroup {
    display: flex;
    flex-direction: column;
}

.navlinkGroup a {
    padding: 10px;
    padding-top: 16.5px;
    color: black;
    border-bottom: 1px solid #00274D;
    text-decoration: none;
    transition: 150ms;
}

.navlinkGroup a:hover {
    background-color: #004E98;
}

.navLinkHeading {
    font-size: 24px;
}

.sectionHeading {
    background-color: #00274D;
}

.textBoxHomepage {
    background-color: #EBEBEB;
    display: flex;
    justify-content: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*----------------------- IDs*/
#navLinkHeadingCurrent {
    background-color: #00274D;
    color:white;
    font-size: 24px;
    transition: 150ms;
}

#navLinkHeadingCurrent:hover {
    background-color: #FF6700;
}

/*----------------------- Media queries*/

@media only screen and (max-width: 768px) {
    nav {
        height: 100%;
        overflow-y: scroll;
    }

    .codeContainer {
        display: flex;
        flex-direction: column;
       
    }
    .lessonContainer {
    transition: transform 1s;
    }
    .lessonContainer code {
        min-height: 200px;
    }

    .liveCode {
        min-height: 200px;
    }
    .liveCodeOutput {
        width:auto;
        min-height: 200px;
    }
    
    @keyframes pageLoad {
        0% {height: 0;}
        100% {height: 782px;}
      }
}

@media only screen and (min-width: 768px) {
    main {
        position: static !important;
        flex-direction: row;
    }

    .hamburger {
        display: none;
    }

    header {
        position: static;
        justify-content: center;
    }

    header h1 {
        margin: 0;
        padding: 20px;
    }

    .lessonBox {
        max-width: 375px;
        min-width: 375px;
    }

    /*.lessonContainer {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 25px;
    }
*/
    .lessonContainer code {
        margin: 0;
    }

    .lessonContent {
        flex-direction: column;
        gap: 20px;
        padding: 0px;
        /*width: 55%;*/
    }

    .lessonContent p {
        padding-right: 20px;
    }

    code {
        width: 100%;
    }

    nav {
        display: flex !important;
        gap: 50px;
        position: sticky;
    }
    @keyframes pageLoad {
        0% {height: 0;}
        100% {height: 632px;}
      }
}

@media only screen and (min-width: 1200px) {
    .lessonContainer {
        display: flex;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 30px;
        align-items: center;
    }

    /*.lessonContainer {
        display: flex;
        flex-direction: row;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 30px;
        height: 300px;
    }*/

    .pageLinksContainer {
        margin-top: 75px;
        gap: 80px;
    }
}

/*-------------------Animations*/






/* colour pallete:
  orange: #FF6700
  greay: #C0C0C0
  light greay: #EBEBEB
  dark blue: #00274D
  light blue: #004E98
  code background: #504C49





*/